@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.hover-blue {
		@apply hover:text-blue transition;
	}
	.backdrop-black {
		@apply backdrop-blur-md bg-black/50;
	}
	.translate-center {
		@apply top-1/2 left-1/2 transform -translate-x-1/2
	}
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background: #000;
}

::-webkit-scrollbar-thumb {
	background: #246;
}

::-webkit-scrollbar-thumb:hover {
	background: #333;
}
