@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* text */
	.arw-text-accent {
		@apply text-accent-600 
		dark:text-accent-500;
	}
	.arw-text-hover {
		@apply hover:text-accent-600 
		dark:hover:text-accent-500 
		transition;
	}
	/* forms */
	.arw-input {
		@apply bg-base-50 
		placeholder:text-base-300 
		focus-visible:ring-base-900 
		ring-offset-white
		border-base-200
		dark:bg-base-900 
		dark:placeholder:text-base-500 
		dark:focus-visible:ring-base-400 
		dark:ring-offset-base-950 
		dark:border-base-800 
		rounded-md
		text-lg
	}
}

/* layout */
.grid-auto-300 {
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* scrollbar */
::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-track {
	background: #222;
}

::-webkit-scrollbar-thumb {
	background: #111;
}

::-webkit-scrollbar-thumb:hover {
	background: #333;
}
