@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* forms */
	.arw-input {
		@apply bg-base-50 
		placeholder:text-base-300 
		focus-visible:ring-base-900 
		ring-offset-white
		border-base-200
		dark:text-black
		dark:bg-base-400
		dark:placeholder:text-base-500 
		dark:focus-visible:ring-base-400 
		dark:ring-offset-base-950 
		dark:border-base-800 
		rounded-md
		text-lg
	}
	/* layout */
	.arw-grid-auto-300 {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
	/* scrollbar */
	::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}
}